.titulo-principal{
	padding-top: 30px;
	padding-bottom: 10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
	
}

.titulo{
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-size: 36px;
	margin-top: 30px;
	 word-wrap: break-word;
	 width: 180px;
	 margin-left: auto;
	 margin-right: auto;

}


.rhombus {  
	width: 112px;  
	height: 126px;  
	background: #343a40;  
	padding-top: 2px;
	padding-bottom: 3px;
	text-align: center;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;



  border: 1px solid #fff;

}
.profession{
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;

}

.borda{
	margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid #fff;

}
.sub-titulo{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 30px;
}

.description{
	color: #fff;
	font-size: 11px;
	text-align: center;
}
.description-um{
	max-width: 150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	margin-bottom: 20px;
	font-size: 11px;
	margin-top: 20px;
}
.description-dois{
	max-width: 150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-size: 11px;
}
.bordar-menor{
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;	
	width: 90px;
	border-top:1px solid #fff;
	margin-top: 10px;
	margin-bottom: 10px;

}

.primeiro{
	
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;

}

.altura{
	padding: 0;
	margin: 0;
}

.base-rodape{
	padding-bottom: 20px;
}

.medida-padding{
	margin-top: 20px;
}

.medida-padding-btn{
	margin-bottom: 40px;
}

.progress{
	border:2px solid #e9ecef;
	background: #343a40;
	border-radius: none;
	max-width: 180px;
	margin-left: auto;
	margin-right: auto;
}

.progress-bar{
	background: #fff;
}




.subtitulo-pag{
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
}
.formato-data{
	font-weight: 600;
	font-size: 14px;
}












