<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Cássio Fernandes" content="Devido ao tempo curto não pude configurar sass. Desde já agradeço a oportunidade de participar do processo seletivo">
    

    <title>Teste de front end BW2</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="css/estilo.css" rel="stylesheet">
  </head>

  <body ng-controller="myCtrl">

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-4 blog-main bg-dark">
         

          <div class="blog-post">
                  			
			    <div class="rhombus">
			    	 <img src="img/avatar-dev.png" class="img-responsive">
			    </div>
			    
			<h2 class="blog-post-title titulo" ng-bind="dados.profile.name"></h2>

			<span ng-bind="dados.profile.profession" class="profession"></span>

			<div class="borda"></div>



			<div class="sub-titulo">Profile</div>	

			<div class="bordar-menor"></div>

			<div class="description-um" ng-bind="dados.profile.description"></div>


			<div class="sub-titulo">Contact</div>

			<div class="bordar-menor"></div>

			<div class="description-dois" ng-bind="dados.profile.contact.tel"></div>

			<div class="description-dois" ng-bind="dados.profile.contact.cel"></div>
			
			<div class="description-um" ng-bind="dados.profile.contact.address"></div>

			<div class="description" ng-bind="dados.profile.contact.website"></div>

			<div class="description" ng-bind="dados.profile.contact.mail"></div>


			<div class="sub-titulo">skills</div>

			<div class="bordar-menor"></div>

			<div class="primeiro medida-padding" ng-bind="primeiro"></div>
			
			<div class="progress">
			    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{nivelUm}}">
			      <span class="sr-only">80% Complete</span>
			    </div>
  			</div>


			<div class="primeiro medida-padding" ng-bind="segundo"></div>

			<div class="progress">
			    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{nivelDois}}">
			      <span class="sr-only">90% Complete</span>
			    </div>
  			</div>

			<div class="primeiro medida-padding" ng-bind="terceiro"></div>


			<div class="progress medida-padding-btn">
			    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{nivelTres}}">
			      <span class="sr-only">75% Complete</span>
			    </div>
  			</div>


          </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <aside class="col-md-8 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic border-bottom titulo-principal">WORK EXPERIENCE</h4>

			<span ng-repeat="conteudo in dados.profile.experience">
				<p class="subtitulo-pag altura" ng-bind="conteudo.name" ></p>
				<p class="formato-data" ng-bind="conteudo.date"></p>
				<p class="formato-data mb-0 base-rodape" ng-bind="conteudo.description"></p>
			</span>
				
				<h4 class="font-italic border-bottom titulo-principal">EDUCATION</h4>

				<span ng-repeat="novo in dados.profile.education">
					<p class="subtitulo-pag altura" ng-bind="novo.name"></p>
					<p class="formato-data" ng-bind="novo.date"></p>
					<p class="formato-data mb-0 base-rodape" ng-bind="novo.description"></p>
				</span>

          </div>
         
          
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/angular.min.js"></script>
  	<script src="js/controlador.js"></script>
 
  </body>
</html>
